---
import config from 'virtual:starlight/user-config';
import Icon from '../../node_modules/@astrojs/starlight/user-components/Icon.astro';
import type { Props } from '@astrojs/starlight/props';

type Platform = keyof NonNullable<typeof config.social>;
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>;
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][];
---

{
	links.length > 0 && (
		<>
			{links.map(([platform, { label, url }]) => (
				<a href={url} target="_blank" rel="me" class="sl-flex" data-title={label}>
					<span class="sr-only">{label}</span>
					<Icon name={platform} />
				</a>
			))}
		</>
	)
}

<style>
	a {
		color: var(--sl-color-text-accent);
		padding: 0.5em;
		margin: -0.5em;
	}
	a:hover {
		opacity: 0.75;
	}

	a[data-title]::after {
        content: attr(data-title);
        position: absolute;
        padding: 2.5px 10px;
        color: #fff;
        background-color: #000;
        border-radius: 8px;
        transition: opacity 0.2s, visibility 0.2s;
        z-index: 100;
        transform: translateY(105%);
        white-space: nowrap;
        pointer-events: none;
        font-size: 0.875rem;
        opacity: 0;
        visibility: hidden;
	}

	a[data-title]:hover::after {
        opacity: 1;
        visibility: visible;
	}
</style>